.btn {
  padding: 10px 30px;
  height: 42px;
  font-family: var(--text-font);
  font-size: var(--font-d-btn);
  font-weight: var(--bold);
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
}
