@import './_variable';
@import './_mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  font-family: var(--text-font);
  font-size: var(--font-d-text);
  color: var(--color-dark);
  text-align: center;
  line-height: 1.7;
}

.pages {
  padding: 120px 0 0 0;

  @include sm {
    min-height: 94vh;
    padding: 100px 0 0 0;
  }
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  // background-color: turquoise;

  @include lg {
    width: 95vw;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    color: unset;
    text-decoration: none;
  }
}
