@import '../../styles/mixins';

.address {
  @include flex(column, center, center);
  height: auto;

  .logo {
    width: 300px;
  }

  a {
    width: 160px;
    width: auto;

    @include sm-min {
      width: auto;
      padding: 10%;
    }
  }

  &__text {
    font-family: var(--header-font);
    color: var(--color-light);
    letter-spacing: 1px;
    font-weight: var(--semi-bold);
  }
}
