@import '../../styles/mixins';

.logo {
  @include flex(row, center, center);
  padding: 1rem 0;
  cursor: pointer;

  @include sm-max {
    width: 80px;
    padding: 0;
  }

  img {
    @include img;
  }
}
