@import '../../styles/mixins';

.img-text-wrap {
  @include flex(row, center, space-between);

  @include md-max {
    flex-direction: column;
  }

  .img-wrap {
    width: 50%;
    padding-left: 1rem;

    img {
      @include img;
    }
  }

  .text-wrap {
    width: 45%;
    height: 100%;
    @include flex(column, flex-start, space-between);
    text-align: left;

    h3 {
      font-family: var(--header-font);
      font-size: var(--font-d-subtitle);
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    p {
      margin: 2rem 0;
    }
  }
}
