@import '../../styles/mixins';

.carousel {
  @include flex(column, centr, space-between);
  height: 65vh;

  &__slides-and-navigation {
    @include flex(row, center, space-between);
    height: 90%;

    .prev,
    .next {
      background-color: transparent;
      border: none;
      z-index: 777;
      cursor: pointer;

      @include md {
        display: none;
      }
    }

    .slide {
      display: none;

      &.active {
        @include flex(row, center, center);
        user-select: none;
        width: 100%;
        height: 100%;
        padding: 0 2.5rem;

        @include sm {
          @include flex(column-reverse, center, center);
        }

        .slide-content {
          width: 45%;
          text-align: left;
          color: var(--color-light);

          .slide-header {
            color: var(--color-main);
            font-size: var(--font-d-subtitle);
            font-family: var(--header-font);
            font-weight: var(--medium-light);
            margin: 1rem 0;
          }

          .slide-subtitle {
            font-family: var(--header-font);
            font-size: var(--font-d-header);
            font-weight: var(--bold);
            line-height: var(--font-d-header);
          }

          .slide-text {
            font-size: var(--font-d-slide);
            margin: 1rem 0;
          }

          .slide-list {
            li {
              @include flex(row, flex-start, flex-start);
              margin-left: 0.5rem;

              p {
                width: 8px;
                height: 8px;
                background-color: var(--color-main);
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
      .slide-img {
        width: 55%;
        margin: 50px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  &__dots {
    @include flex(row, center, center);

    height: 10%;

    .dot {
      width: 14px;
      height: 14px;
      background-color: var(--color-main);
      margin: 10px;
      z-index: 777;
      cursor: pointer;

      &.active {
        background-color: var(--color-light);
      }
    }
  }
}
