@import '../../styles/mixins';
@import '../../styles/variable';

.footer {
  background-color: var(--color-dark);
  @include flex(row, center, center);
  width: 100vw;
  padding: 1rem;
  color: var(--color-light);

  .footer-text {
    padding: 0 1rem;
  }

  p:nth-child(2) {
    border-right: 1px solid var(--color-light);
    border-left: 1px solid var(--color-light);
  }
}
