@import '../../styles/mixins';
@import '../../styles/variable';

.footer {
  background-color: var(--color-dark);
  @include flex(row, center, center);
  flex-wrap: wrap;
  padding: 1rem;
  color: var(--color-light);

  .footer-text {
    padding: 0 1rem;

    @include sm {
      padding: 1rem;
    }
  }

  p:nth-child(2) {
    border-right: 1px solid var(--color-light);
    border-left: 1px solid var(--color-light);

    @include sm {
      // border-top: 1px solid var(--color-light);
      // border-bottom: 1px solid var(--color-light);
      border-right: none;
      border-left: none;
    }
  }
}
